---
import MainGridLayout from "@/layouts/MainGridLayout.astro";
---

<MainGridLayout title="Projects" description="Hardware, server, and software engineering projects.">
	<div class="card-base p-8">
		<p class="text-lg">A compact list of my side projects and experiments in hardware and software.</p>
		<ul class="mt-6 list-disc pl-6 space-y-2">
			<li>PC builds and BIOS/firmware tuning notes</li>
			<li>Home server deployment and networking notes</li>
			<li>Embedded systems prototypes and demos</li>
		</ul>
	</div>
</MainGridLayout>
